{% extends "layout.html" %}

{% block title %}
日報
{% endblock %}

{% block content %}
<section class="contact-clean">
  <form class="text-center" action="/dayregister" method="post">
    <h2 class="text-center">入力フォーム</h2>
    <input type="hidden" value={{t}} name="team">
    <input type="hidden" value={{u}} name="user_id">

    <p>今日何をしましたか？</p>
    <div class="mb-3"><input class="form-control" type="text" name="done" placeholder=""></div>
    <p>明日やることは？</p>
    <div class="mb-3"><input class="form-control" type="text" name="do" placeholder=""></div>
    <p>重要度</p>
    <div class="text-center">
      <div class="form-check form-check-inline"><input class="form-check-input" type="radio" id="formCheck-1"
          name="importance" value="1"><label class="form-check-label" for="formCheck-1">1</label>
      </div>

      <div class="form-check form-check-inline text-center"><input class="form-check-input" type="radio"
          id="formCheck-2" name="importance" value="2"><label class="form-check-label" for="formCheck-1">2</label>
      </div>
      <div class="form-check form-check-inline"><input class="form-check-input" type="radio" id="formCheck-3"
          name="importance" value="3"><label class="form-check-label" for="formCheck-3">3</label>
      </div>
      <div class="form-check form-check-inline"><input class="form-check-input" type="radio" id="formCheck-4"
          name="importance" value="4"><label class="form-check-label" for="formCheck-3">4</label>
      </div>
      <div class="form-check form-check-inline"><input class="form-check-input" type="radio" id="formCheck-5"
          name="importance" value="5"><label class="form-check-label" for="formCheck-3">5</label>
      </div>
    </div>
    <div class="mb-3"><button class="btn btn-primary" type="submit" value="確認">確認 </button></div>
  </form>
</section>
{% endblock %}