{% extends "layout.html" %}
<!-- ログイン画面-->
{% block title %}
{{title}}
{% endblock %}

{% block headline %}
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="/">App Name</a><button data-bs-toggle="collapse"
            data-bs-target="#navcol-1" class="navbar-toggler"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item dropdown"></li>
            </ul>
            <span class="navbar-text actions"><a class="login" href="/login">Log In</a>
                <a class="btn btn-light action-button" role="button" href="/registerAccount">Sign Up</a></span>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<section class="login-dark">
    <form action="/Team" method="post">
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        {{ form.csrf_token }}
        <div class="mb-3 form-control">{{ form.name }}</div>
        <div class="mb-3 form-control">{{ form.mail }}</div>
        <div class="mb-3 btn btn-primary d-block w-100">{{ form.submit }}</div>
        <p><a class="forgot" href="/registerAccount">Don't have an account?
                Register here</a></p>
        <a class="forgot" href="#">Forgot your id or password?</a>
    </form>
</section>
{% endblock %}

<form method="POST" action="{{url_for('Team')}}">
    {{ form.csrf_token }}
    {{ form.name.label }}:{{ form.name }} 
    {{ form.mail.label }}:{{ form.mail }}
    {{ form.submit }}
</form>

<input class="form-control" type="user_name" name="user_name" placeholder="username">

<input type="user_name" name="user_name" placeholder="username">

<button class="btn btn-primary d-block w-100" type="submit">Log In</button>