{% extends "layout.html" %}
<!--登録画面-->
{% block title %}
{{title}}
{% endblock %}

{% block headline %}
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="/">App Name</a><button data-bs-toggle="collapse"
            data-bs-target="#navcol-1" class="navbar-toggler"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item dropdown"></li>
            </ul>
            <span class="navbar-text actions"><a class="login" href="/login">Log In</a>
                <a class="btn btn-light action-button" role="button" href="/">Log Out</a></span>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

<section class="register">
    <div class="form-container">
        <form action="/list-form" method="post">
            <h2 class="text-center"><strong>Create</strong> Team</h2>
            <div class="mb-3"><input class="form-control" type="team_name" name="team_name" placeholder="team_name">
            </div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Sign Up</button></div>
        </form>
    </div>
</section>
<h2>Team List</h2>
<section class=list>
    <!-- feed starts -->
    <!-- post starts -->
    <div class="post">
        <div class="post__avatar">
            <img src="" alt="" />
        </div>

        <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                    <h3>
                        なす
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                            </span>@なす</span>
                    </h3>
                </div>
                <div class="post__headerDescription">
                    <p>なす！</p>
                </div>
            </div>
            <div class="post__footer">
                <a href="/list-form"><span>参加する</span></a>
            </div>
        </div>
    </div>
    <!-- post ends -->
    <!-- post starts -->
    <div class="post">
        <div class="post__avatar">
            <img src="" alt="" />
        </div>

        <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                    <h3>
                        ばなな
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                            </span>@ばなな</span>
                    </h3>
                </div>
                <div class="post__headerDescription">
                    <p>バナナ食いたい</p>
                </div>
            </div>
            <div class="post__footer">
                <a href="/list-form"><span>参加する</span></a>
            </div>
        </div>
    </div>
    <!-- post ends -->
    <!-- post starts -->
    <div class="post">
        <div class="post__avatar">
            <img src="" alt="" />
        </div>

        <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                    <h3>
                        ばなな
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                            </span>@ばなな</span>
                    </h3>
                </div>
                <div class="post__headerDescription">
                    <p>バナナ食いたい</p>
                </div>
            </div>
            <div class="post__footer">
                <a href="/list-form"><span>参加する</span></a>
            </div>
        </div>
    </div>
    <!-- post ends -->
    <!-- post starts -->
    <div class="post">
        <div class="post__avatar">
            <img src="" alt="" />
        </div>

        <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                    <h3>
                        ばなな
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                            </span>@ばなな</span>
                    </h3>
                </div>
                <div class="post__headerDescription">
                    <p>バナナ食いたい</p>
                </div>
            </div>
            <div class="post__footer">
                <a href="/list-form"><span>参加する</span></a>
            </div>
        </div>
    </div>
    <!-- post ends -->
    <!-- post starts -->
    <div class="post">
        <div class="post__avatar">
            <img src="" alt="" />
        </div>

        <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                    <h3>
                        ばなな
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                            </span>@ばなな</span>
                    </h3>
                </div>
                <div class="post__headerDescription">
                    <p>バナナ食いたい</p>
                </div>
            </div>
            <div class="post__footer">
                <a href="/list-form"><span>参加する</span></a>
            </div>
        </div>
    </div>
    <!-- post ends -->
    <!-- post starts -->
    <div class="post">
        <div class="post__avatar">
            <img src="" alt="" />
        </div>

        <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                    <h3>
                        ばなな
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                            </span>@ばなな</span>
                    </h3>
                </div>
                <div class="post__headerDescription">
                    <p>バナナ食いたい</p>
                </div>
            </div>
            <div class="post__footer">
                <a href="/list-form"><span>参加する</span></a>
            </div>
        </div>
    </div>
    <!-- post ends -->
    <!-- post starts -->
    <div class="post">
        <div class="post__avatar">
            <img src="" alt="" />
        </div>

        <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                    <h3>
                        ばなな
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                            </span>@ばなな</span>
                    </h3>
                </div>
                <div class="post__headerDescription">
                    <p>バナナ食いたい</p>
                </div>
            </div>
            <div class="post__footer">
                <a href="/list-form"><span>参加する</span></a>
            </div>
        </div>
    </div>
    <!-- post ends -->
    <!-- post starts -->
    <div class="post">
        <div class="post__avatar">
            <img src="" alt="" />
        </div>

        <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                    <h3>
                        ばなな
                        <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                            </span>@ばなな</span>
                    </h3>
                </div>
                <div class="post__headerDescription">
                    <p>バナナ食いたい</p>
                </div>
            </div>
            <div class="post__footer">
                <a href="/list-form"><span>参加する</span></a>
            </div>
        </div>
    </div>
    <!-- post ends -->
    </div>
    <!-- feed ends -->
</section>

{% endblock %}