{% extends 'layout.html' %}

{% block headline %}
<h1>チーム作成</h1>
{% endblock %}

{% block content %}
<section class="register">
    <div class="form-container">
        <form action="/teamform" method="POST">
            <h2 class="text-center"><strong>Create</strong> Team</h2>
            <div class="mb-3">
                <input class="form-control" type="text" name="teamname" placeholder="チーム名">
                <input type="hidden" value={{u}} name="username">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100" type="submit" value="確認">作成</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}