{% extends 'layout.html' %}

{% block headline %}

<h2>ユーザー：{{ user.name }}</h2>
<h1>チーム一覧</h1>

<form action="/teamlist" method="POST">
    <input type="submit" value="Create">
</form>
{% endblock %}

{% block content %}
<br>
{% for item in items %}
<li class="list-group-item">{{ item.team_id }}</li>
<h3>チーム名</h3>
<form action="/toteam" method="POST">
    <input type="hidden" value={{ user.name }} name="user">    
    <input type="hidden" value={{ item.teamname }} name="team">
    <input type="submit" value="{{ item.teamname }}">
</form>
{% endfor %} 

{% endblock %}